.main {
    min-height: 100vh;
    margin: 0 auto;
    background: #efeadc;
}

.main .portal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    max-width: 100%;
    width: 30%;
    min-height: 90vh;
    margin: 0 auto;
}

.main .portal .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin-bottom: 25px;
}

.main .portal .description span {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 500;
}

.main .portal .description p {
    font-size: 13px;
}

.main .portal .description img {
    margin: 30px 0;
    width: 10vw;
    height: auto;
}

.main .portal form {
    max-width: 100%;
    width: 70%;
    margin: 0 auto;
}

.main .portal form input {
    width: 100%;
    padding: 7px 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
}