.main {
    padding: 7% 0;
    background: #efeadc;
    overflow-y: auto;
}

.main .signin {
    margin: 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 40px 50px;
    max-width: 100%;
    width: 30%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.main .signin .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin-bottom: 25px;
}

.main .signin .description span {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
}

.main .signin .description p {
    font-size: 13px;
    color: gray;
}

.main .signin img {
    margin-bottom: 20px;
    width: 10vw;
    height: auto;
}

.main .signin form {
    min-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.main .signin form label {
    display: block;
    margin-bottom: 3px;
}

.main .signin form input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    margin-bottom: 15px;
}

.main .signin form button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: #2c3e50;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.main .signin form button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.main .signin .loading {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main .signin .loading .icon {
    display: inline-block;
    width: 30px;
    height: auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .main {
        min-height: 100vh;
        background: #efeadc;
        overflow-y: auto;
    }

    .main .signin {
        margin-top: 10%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        width: 90%;
    }

    .main .signin .description img {
        width: 30vw;
        height: auto;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .main {
        min-height: 100vh;
        background: #efeadc;
        overflow-y: auto;
    }

    .main .signin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        width: 50%;
    }

    .main .signin .description img {
        width: 15vw;
        height: auto;
    }

    .main .warning {
        width: 50%;
    }
}